.custom-jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.signed-in-picture {
    width: 50px;
}

.github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.json-container {
    height: 400px;
}

.error-container {
    border-top: 1px solid lightblue;
}

.poll-message {
    position: absolute;
    right: 0;
    z-index: 354;
}